# Dependencies
node_modules/
# Build Output
dist/
!packages/pi-utils/dist/
!packages/pi-utils/dist/**
# Code Coverage
coverage/
# NPM Packs
*.tgz
# Pi Deps
.pi/npm
.pi/git
# Reference Repos
.repos/
# Temp scripts
.scratch/
# TurboRepo
.turbo/
